:root {
  --text-color: 0,0,0,.8;
  --text-size: 16px;
  --bg-color: #eee;
  --primary-color: #209cee;
  --border-color: #e8e8e8;
  --hover-border-color: rgba(0,0,0,.09);
  --hover-box-shadow: 0 2px 8px var(--hover-border-color);
}
