@import "_vars";

* {
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}

html {
  color: rgba(var(--text-color));
  font-size: var(--text-size);
  line-height: 1.4;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--bg-color);
  display: grid;
  grid-gap: var(--text-size);
  height: 100vh;
  justify-items: center;
  grid-template: " nav " 50px " main " calc(100vh - 50px - var(--text-size))
}

nav {
  grid-area: nav;
  align-self: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 var(--text-size) 0 0;
  padding: var(--text-size) 0 0 0;

  &:hover {
    color: darken(#209cee, 20%);
    text-decoration-line: underline;
  }
}

main {
  grid-area: main;
  text-align: center;
  max-width: 700px;

  img.circle {
    //-webkit-clip-path: circle(50% at 50% 50%);
    //clip-path: circle(50% at 50% 50%);
    //outline: 3px red solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

}

div.content {
  grid-area: content;
}

.card {
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: calc(2 * var(--text-size));

  &:hover {
    border-color: var(--hover-border-color);
    box-shadow: var(--hover-box-shadow)
  }

  .title {
    font-size: calc(1.5 * var(--text-size));
    font-weight: 400;
  }

  .body {
    text-align: justify;
  }
}

.buffer {
  margin-bottom: calc(2 * var(--text-size));
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

//mobile layout changes
@media only screen and (max-width: 620px) {
}
