<label class="info h5" for="newsletter-email">Sign up for a monthly newsletter</label>
<small class="info">Don't worry, I won't spam you! <br> One email a month at most which you can unsubscribe from at
  anytime.</small>

<input tabindex="0"
       type="email"
       class="text-input"
       name="newsletter-email"
       id="newsletter-email"
       placeholder="Your Email"
       aria-labelledby="Sign up for email newsletters"
       [formControl]="email"
/>

<span class="text_small bad-input"
      *ngIf="email.touched && email.dirty && email.hasError('email'); else submitBtn">
  &nbsp; Invalid email
</span>
<ng-template #submitBtn>
  <button class="btn" (click)="submit()" [disabled]="!email.valid">Submit</button>
</ng-template>



