<h2>/uses</h2>
<p> Curious to know what gear I use? Fret no more. Just check it out here 😃</p>

<section id="editors-and-terminals">

  <h3>Editors and Terminals</h3>

  <p>
    Because I use both Windows and MacOS bases machines I try to keep things cross compatible as possible, hence my love
    of
    <a href="https://jetbrains.com" target="_blank" rel="noopener">JetBrains</a> products.
  </p>

  <ul>
    <li>
      For writing all things .NET I reach for <a href="https://jetbrains.com/rider" target="_blank"
                                                 rel="noopener">Rider</a>. With reSharper built in it's great for
      getting
      up to speed on .NET conventions fast.
    </li>

    <li>For all my frontend or <a href="https://nodejs.org" target="_blank" rel="noopener">Node</a> needs I reach for <a
      href="https://jetbrians.com/webstorm" target="_blank" rel="noopener">WebStorm</a>. The refactor abilities are
      amazing (not exclusive to WebStorm) and just a joy to use.
    </li>
    <li>
      What might also strike as odd, but I still use <a href="https://code.visualstudio.com" target="_blank"
                                                        rel="noopener">VSCode</a>, but mainly for as my text editor
      replacement, like how people use
      <a href="https://notepad-plus-plus.org/" target="_blank" rel="noopener">NotePad++</a>. I write lots of <a
      href="https://github.com/powershell/powershell" target="_blank" rel="noopener">PowerShell</a> for work.
    </li>

    <li>
      For a terminal, I use <a href="https://github.com/Eugeny/terminus" target="_blank" rel="noopener">Terminus</a>
    </li>
  </ul>

  <p>My themes and settings vary all the time, but at the current moment, this is what I'm rocking</p>
  <ul>
    <li>In everything I always use <a href="https://github.com/tonsky/FiraCode" target="_blank" rel="noopener">Fira
      Code</a> as a font
      with font ligatures enabled.
    </li>
    <li>
      For all JetBrain IDEs I use <a href="https://plugins.jetbrains.com/plugin/8006-material-theme-ui" target="_blank"
                                     rel="noopener">Material UI</a> with the <a
      href="https://plugins.jetbrains.com/plugin/10936-night-owl-theme" target="_blank" rel="noopener">Night Owl</a>
      theme
    </li>
    <li>
      In VSCode I use <a href="https://johnpapa.net" target="_blank" rel="noopener">John Papa's</a> custom theme, <a
      href="https://marketplace.visualstudio.com/items?itemName=johnpapa.winteriscoming" target="_blank" rel="noopener">Winter
      is Coming</a>
    </li>
    <li>
      In Terminus I use use the Firewatch preset
    </li>
  </ul>
</section>

<section id="hardware">
  <h3>Hardware</h3>
  <ul>
    <li>
      2018 15" <a href="https://www.apple.com/macbook-pro" target="_blank" rel="noopener">MacBook Pro</a> is my
      currently
      daily driver for personal computing
    </li>
    <li>
      I also follow suit by using an <a href="https://www.apple.com/iphone/" target="_blank" rel="noopener">iPhone X</a>
      and an <a href="https://www.apple.com/watch/" target="_blank" rel="noopener">Apple Watch Series 3</a>
    </li>
    <li>
      I switch things up by running an custom built <a href="https://ubuntu.com" target="_blank"
                                                       rel="noopener">Ubuntu</a>
      based home server. I also have a <a
      href="https://www.synology.com/en-us/products/DS918+" target="_blank" rel="noopener">Synology DS918+</a> for my
      home
      NAS and love it.
    </li>
    <li>
      I have an older gaming PC when I get the itch to play, but those days are fewer and far between these days. I
      mostly
      play casual single player games on the
      <a href="https://www.nintendo.com/switch/system/" target="_blank" rel="noopener">Switch</a> at the current moment.
    </li>
    <li>
      I love brown key switches and use two different keyboards, for my desk at work and home I use the <a
      href="https://www.amazon.com/Logitech-Backlit-Mechanical-Gaming-Keyboard/dp/B01CDYB8F6" target="_blank"
      rel="noopener">Logitech G610</a> for portable needs I use the <a href="https://www.keychron.com/"
                                                                         target="_blank"
                                                                         rel="noopener">Keychron K2</a>, works great on
      MacOS too!
    </li>

    <li>
      Mouse of choice, <a href="https://www.logitechg.com/en-us/products/gaming-mice/g502-hero-gaming-mouse.html"
                          target="_blank" rel="noopener">Logitech G502</a>. I dare you to find a better mouse. 😉
    </li>

    <li>
      I've been using this <a href="https://www.amazon.com/gp/product/B0032ANC5U" target="_blank" rel="noopener">Thule
      Messenger Bag</a> since 2015 and it's just now showing signs of wear and tear. It's a great bag!
    </li>
  </ul>
  <p>
    I also keep an assortment of headphones based on need. I've moved all <a routerLink="/music"> audio gear to a breakout page.</a>
  </p>

</section>

<section id="must-have-apps">

  <h3>Must Have Apps</h3>

  <p>I do have a few platform exclusives but for the most part I try to keep everything the same across platforms.</p>


  <ul>
    <li>
      I use <a href="https://www.gitkraken.com/git-client" target="_blank" rel="noopener">GitKraken</a> for all my git
      work. I just perfer a GUI to not remembering all the git commits. Helps when working on teams so I don't
      accidentally bust the repo.
    </li>
    <li>
      <a href="https://www.docker.com/products/docker-desktop" target="_blank" rel="noopener">Docker Desktop</a> is
      great
      for keeping the same tooling across machines. I especially love it for spinning up development databases.
    </li>

    <li>
      Need to play the video file, but hey what's that? You don't have that codec installed? Well time to reach for one
      and only <a href="https://www.videolan.org/vlc/" target="_blank" rel="noopener">VLC</a>
    </li>

    <li>
      Big fan of <a href="https://royalapps.com/ts" target="_blank" rel="noopener">RoyalTS</a> for all my remoting
      needs.
      I mainly use RDP but they have support for other protocols like VNC and more!
    </li>

    <li>
      I got all those headphones so I need a source. That's where <a href="https://www.spotify.com" target="_blank"
                                                                     rel="noopener">Spotify</a> comes in. I music genre
      hop so much my daily mixes are all over the place.
    </li>
  </ul>

  <h4 id="windows">Windows</h4>

  <ul>
    <li>
      I have a custom <a href="https://aws.amazon.com/s3/" target="_blank" rel="noopener">s3 bucket</a> set up for
      automatic uploading via <a href="https://getsharex.com/">ShareX</a>. I absolutely love it!
    </li>
  </ul>

  <h4 id="macos">MacOS</h4>

  <p>I have a few more exclusives for MacOS, this is mainly because I find more highly specific software for MacOS </p>


  <ul>
    <li>
      In place of ShareX I use, <a href="https://getcleanshot.com/" target="_blank" rel="noopener">Clean Shot X</a> but
      at
      the current moment there isn't support for custom uploading. I hope that changes some times in the future.
    </li>
    <li>
      A 💪 emoji game is a must! That's why I use <a href="https://matthewpalmer.net/rocket/" target="_blank"
                                                     rel="noopener">🚀 Rocket</a>.
    </li>
    <li>
      <a href="https://daisydiskapp.com/" target="_blank" rel="noopener">Daisy Disk</a> is great utility to help me keep
      those <code>node_modules</code> folders at bay.
    </li>
  </ul>


  <h4 id="ios">iOS</h4>

  <p>Here is what's on my phone!</p>
  <ul>
    <li>
      I rocket lots of Google smart speakers, and the only podcast app that supports Chromecast is <a
      href="https://www.pocketcasts.com/" target="_blank" rel="noopener">Pocket Casts</a>. It's a great podcast player
    </li>

    <li>
      Endlessly scrolling your thing? You must browse <a href="https://reddit.com" target="_blank"
                                                         rel="noopener">Reddit</a>, let me intoduce you to the best
      reddit
      client on iOS,
      <a href="https://apolloapp.io" target="_blank" rel="noopener">Apollo</a> is just a labor of love by a <a
      href="https://twitter.com/ChristianSelig" target="_blank" rel="">really cool dev</a>.
    </li>
  </ul>
</section>


<section id="security">


  <h3>Security</h3>

  <p>Security and privacy is something I've started taking more seriously as I get older. These are some things
    that help me do that</p>
  <ul>
    <li>
      I got tired of seeing my gmail getting gunked up with spam so I've moved all important emailing to <a
      href="https://protonmail.com/" target="_blank" rel="noopener">ProtonMail</a> and haven't looked back.
    </li>
    <li>
      I also use another service from Proton Technologies, their VPN. <a href="https://protonvpn.com/" target="_blank"
                                                                         rel="noopener">ProtonVPN</a> is another great
      product from a company I can stand behind.
    </li>
    <li>
      Multi-factored Authentication, is very important. I've taken it step further by not just using softtokens, but
      also
      hardware keys. I use <a href="https://www.yubico.com/" target="_blank" rel="noopener">YubiKeys</a> for security
      keys
      and gives me a great peace of mind for those accounts secured with them.
    </li>
    <li>
      A password manager is a must have in this day and age. I highly recommend <a href="https://onepassword.com"
                                                                                   target="_blank" rel="noopener">1Password</a>.
    </li>
  </ul>
</section>

<app-share-sheet [shareTitle]="'/Uses'" [shareUrl]="'/uses'"></app-share-sheet>
