.tags-container {
  font-size: medium;
  display: block;
  .tag {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: var(--text-size);
    border: 1px solid #204969;
    border: 1px solid var(--app-tag-border);
    background: #cedde8;
    background: var(--app-tag-bg);
    color: var(--app-text-color);
    border-radius: 15px;
    margin-bottom: 8px;
    padding: 2px 13px;
    &:hover {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 10px var(--theme-black-border-shadow);
    }
  }
}
