<!--<h1>About Caleb</h1>-->

<p> If you want to know what I use on a semi daily basis check out my <a routerLink="/uses">/uses</a> page</p>
<div>

  <h2>Projects</h2>
  <p>
    You can usually find out what I'm tinkering with by checking out my
    <a
      href="http://gitlab.com/caleb-ukle"
      target="_blank"
      rel="noopener noreferrer"
    >
      Gitlab
    </a>
    profile. You can also find me on
    <a
      href="http://twitter.com/cu_galaxy"
      target="_blank"
      rel="noopener noreferrer"
    >
      Twitter
    </a>
    .
  </p>
  <p>
    If you have any questions or want to get in touch with me, then head
    over to the <a routerLink="/contact">contact</a> page and leave me a
    message.
  </p>
  <h3>Panorama</h3>
  <p>
    <app-tags [tags]="['Angular', '.NET', 'SQL Server']"></app-tags>
  </p>
  <p>
    This is my current on going project at work. This project is a web app built with Angular, .NET, and SQL
    Server.
    The goal of this web app is an internal tool aimed at being the <em>great aggregator</em> of our client data.
  </p>
  <p>
    Some features include:
  </p>
  <ul>
    <li>Custom map components to visual customer data</li>
    <li>Integrating with various enterprise applications</li>
    <li>Providing cross domain metric reports</li>
  </ul>
  <p>
    This application is a never ending application as it is always being enhanced with user feedback and feature
    sets. I consider it one of my pride and joys as I have built the entire frontend myself, with some libraries,
    and aided in building the backend as well.
  </p>
  <p>
    Since this application is internal and contains sensitive customer data, please reach out to me via my <a
    routerLink="/contact">contact form</a> to learn more.
  </p>

  <h3>Drag Draft</h3>
  <p>
    <app-tags [tags]="['Angular', 'Firebase']"></app-tags>
  </p>
  <p>
    Drag draft is a fantasy drafting application for <a href="http://www.vh1.com/shows/rupauls-drag-race"
                                                        target="_blank" rel="noreferrer noopener">RuPaul's Drag
    Race</a>. this web app is built with Angular and Firebase.
    The web app came as most ideas start; talking about an existing app, proclaiming <em>"I could do that"</em>,
    buying a url, and spending the next 24 hours coding up an initial app.
  </p>
  <p>
    This was the first time I have used firebase so most of that time was learning about the features and abilities
    of firebase.
  </p>
  <p>
    <a href="https://gitlab.com/caleb-ukle/drag-draft" target="_blank" rel="noreferrer noopener">View Code
      Repository</a>
  </p>

  <h3>Shop The Fridge</h3>
  <p>
    <app-tags [tags]="['Angular', 'NestJS', 'Postgres']"></app-tags>
  </p>
  <p>
    Shop the fridge is an app aimed at keeping track of expiry dates of food. So this doesn't happen
    <em>Hmm, when does the milk go bad? I guess I'll just buy more to be save.</em>
  </p>
  <p>
    This is a collaboration project between a group of friends and can be found on my <a
    href="https://github.com/barbados-clemens" target="_blank" rel="noreferrer noopener">Github</a> instead of my
    <a href="https://gitlab.com/caleb-ukle" target="_blank" rel="noreferrer noopener">Gitlab</a>
  </p>
  <p>
    This is the first real open source collab project I've worked on and it's very much an in progress.
    Also, the first time I've used NestJS in an actual app.
  </p>
  <p>
    <a href="https://github.com/barbados-clemens/shop-the-fridge" target="_blank" rel="noreferrer noopener">View Code
      Repository</a>
  </p>
</div>
<div>

  <h2>Experience</h2>
  <p>
    My educational background is in engineering. While I currently don't do any electrical engineering work, I use
    my problem solving skills every day as a software developer.
  </p>
  <p>
    Technologies I'm familiar with are:
  </p>
  <ul>
    <li>
      Javascript/Typescript
      <ul>
        <li>Specifically Angular</li>
      </ul>
    </li>
    <li>.NET</li>
    <li>SQL Server</li>
    <li>Docker</li>
  </ul>

  <p>
    I have also spent time with various other technologies, just not as proficient with.
  </p>
</div>
