
.wrapper {
  display: grid;
  place-items: center;
}

form {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
  .full-width {
    grid-column: 1 / -1;
  }
}

input,
textarea {
  width: 100%;
}
.input-error {
  color: var(--v2-red)
}

@media (max-width: 520px) {
  form {
    grid-template-columns: 1fr;
  }
}
