:root {
  --white: #FFFFFE;
  --v2-red: #e84b70; //#E82E5A;
  --light-gray-1: #E2E2E9;
  --dark-gray-1: #4C4E67;
  --fav-red: #ED655A;
  --rt-green: #72BE47;
  --twitter-blue: #1DA1F2;
  --dark-bg-blue: #121B21;
  --dont-hate-start: #31D0E5;
  --dont-hate-end: #4C54F2;
  --fisherman-blue: #3E5F74;
  --deep-muted-blue: #283044;
  --btn-blue: #3F8EEC;

  --dont-hate-blurpurp: linear-gradient(50.6deg, var(--dont-hate-start) -56.16%, var(--dont-hate-end) 73.28%);

}
