.textarea-input,
.text-input {
  font-size: 100%;
  border: 1px solid var(--white);
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: transparent;
  color: var(--app-text-color);
  transition-property: border-radius, background, border, color;
  transition-duration: 200ms;
  transition-timing-function: var(--theme-transistion-curve);
  font-family: inherit;
  box-sizing: border-box;
  &:focus {
    color: var(--app-card-text-color);
    background: var(--white);
    border-radius: 2rem;
  }
}
