a,
a:visited,
a:active,
{
  display: inline-block;
  color: var(--v2-red);
  text-decoration: none;

  &:hover {
    color: var(--v2-red);
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--v2-red);
    transition: width 0.3s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    background: var(--v2-red);
  }
}

.header-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .3em;
  width: 24px;
  display: inline-block;
  cursor: pointer;

  > svg {
    fill: var(--v2-red);
  }

  &:hover,
  &:focus,
  &:active {
    > svg {
      fill: var(--v2-red)
    }
  }
}

a.clean_link,
a.clean_link:visited,
a.clean_link:active {
  display: inline-block;
  color: var(--app-text-color);
  text-decoration: none;

  &:hover {
    color: var(--app-text-color);
  }

  &::after {
    content: none;
    display: inherit;
    width: 0;
    height: 0;
    background: transparent;
  }

  &:hover::after,
  &:focus::after {
    width: 0;
    background: transparent;
  }

}
