ol, ul{
  padding: 0;
  margin: 0 0 1.45rem 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}

ol li,
ul li {
  padding-left: 0;
  margin-bottom: .725rem;
}

ul {
  list-style: circle;
}
ol {
  list-style: decimal;
}
