@import "theme";

html {
  /*18px*/
  /* double define for non custom prop support */
  font-size: 112.5%;
  font-size: var(--app-font-size);
}

body {
  background-color: var(--app-bg-color);
  font-family: var(--app-font-family);
  font-weight: 400;
  line-height: 1.65;
  color: var(--app-text-color);
}

p {
  margin-bottom: 1.15rem;
}


h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Montserrat', sans-serif;
  font-family: var(--app-font-family);
  font-weight: 400;
  line-height: 1.15;
  display: inline-block;
}

.h1,
h1 {
  margin-top: 0;
  font-size: 3.052em;
}

.h2,
h2 {
  font-size: 2.441em;
}

.h3,
h3 {
  font-size: 1.953em;
}

.h4,
h4 {
  font-size: 1.563em;
}

.h5,
h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

.lil_guy {
  font-size: .64em;
}
