@import "code";
@import "lists";
@import "buttons";
@import "overlay";
@import "links";
@import "font";
@import "elevations";
@import "colors";
@import "inputs";

:root {

  --theme-transistion-curve: cubic-bezier(0.4, 0.0, 0.2, 1);

}

[data-theme="dark"] {
  --app-font-size: 18px;
  --app-header-color: var(--white);
  --app-text-color: var(--light-gray-1);
  --app-bg-color: var(--dark-bg-blue);
  --app-font-family: 'Montserrat', sans-serif;
  --app-card-bg: var(--white) ;
  --app-card-text-color: var(--dark-gray-1);
  --app-quote-bg: var(--light-gray-1);
  --app-quote-text-color: var(--deep-muted-blue);
}

[data-theme="light"] {
// todo flip the colors
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  cursor: pointer;
}

div.code-toolbar {
  margin-bottom: 1.15rem;
}

