@import "~prismjs/themes/prism-okaidia.css";
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import "lists";
@import "buttons";
@import "overlay";


/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../assets/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url('../assets/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}


:root {


  --theme-blue: #4687F6;
  --theme-off-white: #ECECEC;
  --theme-transistion-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
  --theme-green: #72BE47;
  --theme-light-green: #B4DC9D;
  --theme-red: #ED655A;
  --theme-gray-1: #2F3134;

  --app-text-color: var(--theme-gray-1);
  --app-bg-color: #fff;
  --app-font-family: 'Montserrat', sans-serif;
  --app-card-bg: #fff;
  --app-border-color: #D5D5D5;
  --app-box-shadow-color: rgba(0, 0, 0, .35);
  --app-box-shadow: 0 1px 10px var(--app-box-shadow-color);
  --app-quote-bg: var(--theme-off-white);
}

[data-theme="dark"] {
  --app-bg-color: var(--theme-gray-1);
  --app-text-color: var(--theme-off-white);
  --app-border-color: #222;
  --app-card-bg: var(--app-box-shadow-color);
  --app-quote-bg: var(--app-box-shadow-color);
}

a,
a:visited,
a:active,
{
  display: inline-block;
  color: var(--theme-green);
  text-decoration: none;

  &:hover {
    color: var(--theme-light-green);
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--theme-light-green);
    transition: width 0.3s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    background: var(--theme-light-green);
  }
}


div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  cursor: pointer;
}

div.code-toolbar {
  margin-bottom: 1.15rem;
}

.header-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .3em;
  width: 24px;
  display: inline-block;
  cursor: pointer;

  > svg {
    fill: var(--theme-green);
  }

  &:hover,
  &:focus,
  &:active {
    > svg {
      fill: var(--theme-light-green)
    }
  }
}

a.clean_link,
a.clean_link:visited,
a.clean_link:active {
  display: inline-block;
  color: var(--app-text-color);
  text-decoration: none;

  &:hover {
    color: var(--app-text-color);
  }
  &::after {
    content: none;
    display: inherit;
    width: 0;
    height: 0;
    background: transparent;
  }

  &:hover::after,
  &:focus::after {
    width: 0;
    background: transparent;
  }

}
