.card {
  cursor: pointer;
  background-color: var(--app-card-bg);
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 1em;
  max-width: 500px;
  color: var(--app-text-color);
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border: 1px solid var(--theme-black-border);

  box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 8px var(--theme-black-border);
  &--title {
    padding-bottom: 0.5em;
    color: var(--app-link-color);
    text-decoration: underline;
  }
  &--subtitle {
    font-weight: 400;
    font-size: small;
  }
  &--body {
  }
  &--spacer {
    flex-grow: 1;
  }
  &:hover {
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

    border-color: var(--theme-black-border);
    box-shadow: 0px 2px 15px var(--theme-black-border-shadow);
  }
}
