
.tag-container {}

.tag {
  color: var(--white);
  border-radius: 1.3em;
  text-decoration: none;
  padding: .1em .75em;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: .6em;
  background: var(--v2-red);
  transition: box-shadow 250ms var(--theme-transistion-curve);
  box-shadow: var(--elevate-1);
  &:hover {
    cursor: pointer;
    box-shadow: var(--elevate-2);
    color: var(--white);
  }
}
