.greeting-container {
  padding: 100px 0;
  text-align: center;
}

.card-container {
  display: grid;
  grid-gap: calc(var(--text-size) * 2);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding-bottom: var(--text-size);
}


form {
  display: grid;
  grid-gap: var(--text-size);
  place-items: center;
  input,textarea {
    width: 100%;
    max-width: 500px;
    font-size: calc(var(--text-size) * 1.5);
    padding: var(--text-size);
    border: 2px solid rgba(0, 0, 0, 0.09);
    border: 2px solid var(--theme-black-border);
    border-radius: 4px;
    margin-bottom: var(--text-size);
  }
  button {
    width: 100%;
    max-width: 500px;
    background-color: var(--app-tag-bg);
    border: 2px solid rgba(0, 0, 0, 0.09);
    border: 2px solid var(--theme-black-border);
    border-radius: 4px;
    color: var(--app-text-color);
    padding: calc(var(--text-size) * .5);
    font-size: calc(var(--text-size) * 1.5);
  }
}
