:host {
  display: block;
  padding: 1em .8em;
  border-radius: 1em;
  box-shadow: var(--app-box-shadow);
  background-color: var(--app-card-bg);
  border: 1px solid var(--app-border-color);
  color: var(--app-text-color);
  transition: transform 250ms var(--theme-transistion-curve);

  .birb {
    position: fixed;
    top: .25em;
    right: .4em;
    width: 25px;
    height: auto;
  }

  &:hover {
    transform: rotate(-5deg);
  }
}

a,
a:visited,
a:active,
{
  color: currentColor;

  &:hover {
    text-decoration: underline;
    color: var(--app-text-color)
  }
}
