<div class="left">
  <h4>Join the Newsletter</h4>

  <p>Subscribing gets a monthly newsletter in your inbox. I won't send you spam, I promise. Unsubscribe at any time.</p>
</div>

<div class="right">

  <ng-container *ngIf="signUpRes | async as res; else form">
    <ng-container *ngIf="res?.error">
      <p>
        🤔 hmm something went wrong.
      </p>
      <button class="btn" type="button" (click)="signUpRes = null">Try Again</button>
    </ng-container>

    <ng-container *ngIf="res?.status === 'success'">
      <p>
        Success! Now check your email to confirm your subscription.
      </p>
    </ng-container>

    <ng-container *ngIf="res?.status !== 'success'">
      <p>
        Oops issue signing up. <br>
        <button type="button" class="btn" (click)="signUpRes = null">Try Again</button>
      </p>
    </ng-container>
  </ng-container>


  <ng-template #form>

    <form
      [action]="formUrl"
      method="post"
      (ngSubmit)="submit($event)"
      [formGroup]="newsletterForm"
    >
      <input type="text"
             aria-label="Your name"
             name="fields[first_name]"
             placeholder="Your name"
             formControlName="name"
             class="text-input"
      >

      <input type="email"
             aria-label="Your email"
             name="email_address"
             placeholder="Your email address"
             formControlName="email"
             class="text-input"
      >

      <ng-container *ngIf="tagMap$ | async">
        <input
          *ngFor="let t of formattedTags(this.tags || [])"
          type="checkbox"
          id="tag-{{subFormId}}-{{t}}"
          style="display: none;"
          checked
          name="tags[]"
          [value]="t"
        >
      </ng-container>

      <p>
        <button class="btn"
                type="submit"
                [disabled]="!newsletterForm.valid"
        >
          Subscribe
        </button>
        <br>
        <small>Powered By <a class="ref-link"
          href="https://convertkit.com?utm_source=dynamic&utm_medium=referral&utm_campaign=poweredby&utm_content=form"
          target="_blank" rel="noopener">ConvertKit</a></small>
      </p>

    </form>
  </ng-template>
</div>
