$duration: 0.2s;
// cubic-bezier(0.175, 0.885, 0.32, 1.275);
$bottomBar: 2px solid var(--theme-off-white);

header {
  background: var(--app-primary-color);
  margin-bottom: 1.45rem;
}

.nav-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  .title {
    margin: 0;
  }
  .active::after {
    width: 100% !important;
  }

  .nav-link {
    margin: 0 24px 0 0;
    display: inline-block;
    color: var(--theme-off-white);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all $duration;
    // https://codepen.io/martinwolf/pen/eNNdme
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: var(--theme-off-white);
      transition: width 0.3s;
    }
    &:hover::after,
    &:focus::after {
      width: 100%;
      //transition: width .3s;
    }
  }
}
