:host {
  display: block;
  max-width: 960px;
  margin: auto;
}

.post-container {
  border-left: 4px solid var(--app-text-color);
  padding: 0 1em;

  .post {
    margin-bottom: 1.25em;
    display: block;
  }

  margin-bottom: 1.25rem;
}

#search {
  margin-bottom: 2.4rem;
  display: grid;
  gap: 1em;
}

