
<p>
  Here are some things I've written. I aim to write once a month, but sometimes I miss or double up. I try to explain things in a user friendly way. I never write in the <em>foo, bar, baz</em> code examples. My goal is to provide practical and easy to understand code examples and directions.
</p>
<p>
  You can easily search all my previous posts <a href="/blog#search">down below</a>.
  Click on the blue tags will also search for those topics as well.
</p>
<p>
  Thanks for reading!
</p>
<div class="post-container">
  <div *ngFor="let l of links$ | async; let isFirst = first;">
    <h4 [id]="l.date" class="title" [ngClass]="{'first': isFirst}" >{{ l.date }}</h4>
    <app-card class="post" *ngFor="let p of l.posts" [cardInfo]="p"></app-card>
  </div>
</div>

<p style="text-align: center"> If you want to know what I use on a semi daily basis check out my <a routerLink="/uses">/uses</a> page</p>
<section id="search">
  <h4 style="text-align: center;">Didn't find what you're looking for?</h4>
  <app-search index="blog"></app-search>
</section>
