<h2>Blog</h2>
<p>I try to write at least once a month. What I write can vary but typically related to whatever I've been hacking on,
  experimenting with, or just enjoying in my spare time.</p>

<p>
  Most of my posts aim at being documentation for myself so I can remember how I did something before. Because they
  serve this purpose, the posts aren't full of <em>foo, bar, baz</em> type examples. Typically a runnable code snippets
  or repo links will be provided.
</p>

<p>
  Down below are a few posts, but you can search <a href="/blog#search">down below</a> if you can't find what you're looking for.
</p>

<p>
  You can send a <a
  href="https://twitter.com/intent/tweet?text=hey&url=https://calebukle.com/blog&via=CU_galaxy`" target="_blank" rel="noopener">tweet at me</a> or use my <a
  href="/contact">contact form</a> if you need help, want to get in touch, or just want to say how awesome I am. I won't
  stop you 😉.
</p>

<p>
  I also have all the gear I use on my <a href="/uses">/uses</a> page, if you'd like to check that out.
</p>

<p>Thanks for reading!</p>

<div class="post-container" [@fadeSlideUp]="(links$ |async)?.length">
  <div *ngFor="let l of links$ | async; let isFirst = first;">
    <h2 [id]="l.date" class="title" [ngClass]="{'first': isFirst}">{{ l.date }}</h2>
    <app-card class="post" *ngFor="let p of l.posts" [cardInfo]="p"></app-card>
  </div>
</div>

<p style="text-align: center"> If you want to know what I use on a semi daily basis check out my <a routerLink="/uses">/uses</a>
  page</p>
<section id="search">
  <h4 style="text-align: center;">Didn't find what you're looking for?</h4>
  <app-search index="blog"></app-search>
</section>
