:host {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr auto 1fr;
  padding: 2em 1em;
  place-items: center;
  .left {
    text-align: center;
  }

  .center {

  }

  .right {
    text-align: center;
  }
}

@media (max-width: 700px) {
 :host {
    grid-template-columns: 1fr;
  }
}
