<div class="left">
  <p>
    Caleb Ukle &copy; 2018 - {{thisYear | date: 'yyyy'}}
  </p>
</div>
<div class="center">
</div>
<div class="right">
  <p>Built with <a href="https://angular.io" target="_blank" rel="nofollow">Angular</a> and <a href="https://scully.io"
                                                                                               target="_blank"
                                                                                               rel="nofollow">Scully</a>
    <br>
    <small>3rd party licenses can be found <a href="/3rdpartylicenses.txt" target="_blank">here</a>
    </small>
  </p>
</div>
