<div class="left">
  <p>
    Caleb Ukle &copy; 2018 - {{thisYear | date: 'yyyy'}}
  </p>
</div>
<div class="center">

  <p class="newsletter-box">
    <label class="info h5" for="newsletter-email">Sign up for a monthly newsletter</label>
    <small class="info">Don't worry, I won't spam you! <br> One email a month which you can unsubscribe from at anytime.</small>
    <input tabindex="0" type="email" class="text-input" name="newsletter-email" id="newsletter-email"
           placeholder="Your Email"
           aria-labelledby="Sign up for email newsletters">
    <button class="btn">Submit</button>
  </p>
</div>
<div class="right">
  <p>Built with <a href="https://angular.io" target="_blank" rel="nofollow">Angular</a> and <a href="https://scully.io"
                                                                                               target="_blank"
                                                                                               rel="nofollow">Scully</a>
    <br>
    <small>3rd party licenses can be found <a href="/3rdpartylicenses.txt" target="_blank">here</a>
    </small>
  </p>
</div>
