<a class="no-decoration" routerLink="/blog">Go Back</a>

<h1 id="top">{{ (meta$ | async)?.title }}</h1>

<app-like-ui (like)="addLike()" [count]="likes$ | async"></app-like-ui>
<p class="text_small">{{ (meta$ | async)?.date | date:"longDate" }}</p>

<app-tags [tags]="(meta$ | async)?.tags"></app-tags>

<p> {{ (meta$ | async)?.description }}</p>

<scully-content></scully-content>
<a appTooltip position="start" toolTipText="Back To Top" class="top-link clean_link"
   href="{{(meta$ | async)?.route}}#top">⏫</a>
<app-share-sheet [shareUrl]="(meta$ | async)?.route" [shareTitle]="(meta$ | async)?.title"></app-share-sheet>
