@import "../../styles/fira_code.css";

:host {
  max-width: 960px;
  display: block;
  margin: auto;
  --app-code-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

p > img {
  max-width: 100%;
  margin: auto;
  display: block;
}


code,
pre {

  font-family: 'Fira Code Retina', var(--app-code-font-family);

  @supports (font-variant-ligatures: normal) {
    font-family: 'Fira Code VF', var(--app-code-font-family);
    font-variant-ligatures: normal;
  }
}

blockquote > p {
  border-left: .65em solid var(--theme-blue);
  border-radius: 0.3em;
  padding: 1em;
  font-style: italic;
  background-color: var(--app-quote-bg);
  color: var(--app-text-color);
  box-shadow: var(--app-box-shadow);
}

blockquote {
  margin: 2.3rem 0;
}

p > code {
  color: var(--theme-red);
  background: var(--theme-off-white);
  border-radius: .3em;
  padding: 0 .4em;
}


@media (min-width: calc(960px + 4.6em)) {

  blockquote {
    margin: 2.3rem -2.3rem;
  }

  :host ::ng-deep div.code-toolbar {
    margin-left: 2.3rem;
  }

}

