<a class="no-decoration" routerLink="/blog">Go Back</a>

<h1 id="top">{{ (meta$ | async)?.title }}</h1>

<p class="sub-header">
  <span class="author">By Caleb Ukle</span>
  <span class="published">{{ (meta$ | async)?.date | date:"longDate" }}</span>
  <app-like-ui (like)="addLike()" [count]="likes$ | async"></app-like-ui>
</p>

<p class="tags">
  <app-tags [tags]="(meta$ | async)?.tags"></app-tags>

</p>

<section class="post-content" bcBlurUp>
  <p> {{ (meta$ | async)?.description }}</p>
  <scully-content></scully-content>
</section>
<!--<a appTooltip position="start" toolTipText="Back To Top" class="top-link clean_link"-->
<!--   href="{{(meta$ | async)?.route}}#top">⏫</a>-->
<div class="actions">
  <h3>Found this post helpful?</h3>
  <p>
    I'd really appreciate it you'd share this article if you found it interesting or helpful.
    <a [href]="shareTwitterLink" target="_blank" rel="noopener">
      You can share on twitter by clicking here</a>.
  </p>
  <p>You can also show you're support by liking this article, just give a star here →
    <app-like-ui style="display: inline-block;" (like)="addLike()" [count]="likes$ | async"></app-like-ui>
  </p>
  <p>
    Also, you can follow me, <a href="https://twitter.com/cu_galaxy" target="_blank" rel="noopener">@CU_Galaxy</a>, on
    twitter.
  </p>
  <p id="newsletter">

    <app-newsletter [tags]="(meta$ |async)?.tags"></app-newsletter>
  </p>
  <app-share-sheet [shareUrl]="(meta$ | async)?.route" [shareTitle]="(meta$ | async)?.title"></app-share-sheet>
</div>
