<h2>Music, Playlists and the Gear</h2>


<section id="current-vibes">
  <h3>Music I'm currently bumping to</h3>
  <div class="item-container">

    <ng-container *ngFor="let m of music$ | async">
      <div>
        <img loading="lazy" class="music-img" [src]="m.img" alt="{{m.name}} image">
        <h4 style="margin-top: 0;">
          {{m.name}}
        </h4>
        <ul>
          <li *ngFor="let l of m.links">
            <a [href]="l.link">Listen on {{l.service}}</a>
          </li>
        </ul>
      </div>

    </ng-container>
  </div>
</section>

<section id="gear">
  <h3>My current gear</h3>
  <blockquote>
    <p>Disclaimer: You do not need high end gear to enjoy music. Audio gear is a bit of a hobby for me is all. 😃</p>
  </blockquote>

  <div class="item-container">

    <ng-container *ngIf="gear$ | async as gear">
      <app-product-card *ngFor="let g of gear" [product]="{
     link: g.link,
     name: g.name,
     desc: g.desc,
     img: g.img,
    tags: [g.type]
      }"></app-product-card>

      <!--      <div class="music-card">-->
      <!--        {{g.name}}-->
      <!--        <img class="product-img" [src]="g.img" alt="{{g.name}} product image">-->
      <!--        <a [href]="g.link" target="_blank" rel="noopener">See Product Page</a>-->
      <!--      </div>-->

    </ng-container>
  </div>
</section>

<section id="music-tweets">
  <h3>Music related Tweets</h3>
  <!--  <app-twitter></app-twitter>-->
</section>
