:host {
  display: block;
  max-width: 960px;
  margin: auto;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.65em;
  grid-auto-rows: 550px;
  margin-bottom: 1.15rem;
}
