:host {
  display: block;
  max-width: 960px;
  margin: auto;
}

.blog-container {

  .post {
    background: var(--app-card-bg);
    border: 1px solid var(--app-border-color);
    border-radius: 1em;
    padding: .8em 1.25em;
    margin-bottom: 1.15rem;
    transition: box-shadow 250ms var(--theme-transistion-curve);
    &:hover {
      box-shadow: var(--app-box-shadow);
      cursor: pointer;
    }
  }

  margin-bottom: 1.25rem;
}
