<section id="greeting" class="greeting-container">
  <h1>👋 Hi, I'm Caleb</h1>
  <p>
    I'm a software developer, technology enthusiast, and simply enjoy learning new things.
  </p>
  <p>
    I've been a professional software developer since 2017. Right before
    starting my career, I graduated with a B.S. in Electrical Engineering.
    I've been a problem solver for as long as I can remember, and I am
    always trying to find new things to learn.
  </p>
  <p>Learn more <a tabindex="0" routerLink="/about">about me</a></p>
  <p>Check out my <a routerLink="/uses">/uses</a> page to see my gear.</p>
</section>


<section id="recent-posts">
  <h3 style="text-align: center;">Latest Posts</h3>
  <div class="blog-container">
    <div *ngFor="let p of links$ | async" class="post" [routerLink]="p?.route">
      {{ p.title }} &nbsp;
      <span *ngIf="isNewPost(p.date)"
            class="special-tag text_small"
      >
        NEW
      </span>
    </div>
    <p style="text-align: center;">
      Check out more posts <a routerLink="/blog">here</a>.
    </p>
  </div>
</section>

<app-twitter></app-twitter>

