<!--<ais-instantsearch [config]="config">-->
<!--&lt;!&ndash;  <ais-search-box></ais-search-box>&ndash;&gt;-->
<!--  <ais-hits>-->
<!--&lt;!&ndash;    <ng-template let-hits="hits">&ndash;&gt;-->
<!--&lt;!&ndash;      <div *ngFor="let hit of hits">&ndash;&gt;-->
<!--&lt;!&ndash;        {{hit | json}}&ndash;&gt;-->
<!--&lt;!&ndash;        <ais-highlight attribute="name" [hit]="hit"></ais-highlight>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </ng-template>&ndash;&gt;-->
<!--  </ais-hits>-->
<!--</ais-instantsearch>-->
